@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
}

body{
    overflow-x: hidden;
}

section{
    width: 100%;
    display: flex;
}

.sidebar{
    width: 20%;
    color: white;
    background-color: rgb(11, 11, 24);
    height: 100vh;
    position: fixed;
    z-index: 1;
}

.main{
    width: 80%;
}

.dpholder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em auto 0 auto;
}

.dp{
    width: 8em;
    border: 7px solid rgba(96, 96, 113, 0.708);
    border-radius: 50%;
    box-shadow: 1px 1px 8px 1px #919191;
}

.sidebar h2{
    text-align: center;
    margin: .5em;
    font-size: 1.6rem;
    font-weight: 500;
}

.socials{
    display: flex;
    justify-content: center;
    gap: .8em;
    margin: 1em auto;
}

.socials i{
    text-align: center;
    background: rgba(96, 96, 113, 0.708);
    padding: .6em;
    width: 2.3em;
    border-radius: 50%;
    color: white;
    box-shadow: 1px 1px 8px 1px #919191;
}

.socials i:hover{
    cursor: pointer;
    background: rgba(171, 171, 244, 0.708);
    box-shadow: 1px 1px 8px 1px #fbfbfb;
}

.nav{
    margin: 3em 0 2em 2em;
}

.nav i{
    width: 1.7em;
}

.nav ul{
    list-style: none;
}

.nav li{
    padding-bottom: 2em;
}

.nav a{
    text-decoration: none;
    color: rgb(124, 124, 146);
}

li a:hover{
    color: white;
}

.nav-icons{
    padding-right: .5em;
}

/* .nav-links{
    margin: 2em auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-links i{
    text-decoration: none;
    color: rgb(151, 151, 151);
    width: 1.7em;
}

.nav-links a{
    text-decoration: none;
    color: rgb(151, 151, 151);
    font-size: 1rem;
}

.nav-links a:hover{
    color: yellow;
}
.nav-links a i:hover{
    color: yellow;
} */

.footer{
    text-align: center;
    position: relative;
    top: 2.1em;
}

.copyright{
    font-size: .9rem;
    font-weight: 1;
    margin: 0em auto .2em auto;
}

.end{
    font-size: .7rem;
}

.name{
    color: rgb(69, 165, 255);

}

.main{
    width: 80%;
    margin-left: 20%;
}

.banner{
    background:
    linear-gradient(45deg,
      rgba(0,0,0, 0.6),
      rgba(0,0,0, 0.6)), url('./images/bg.png');
    height: 100vh;
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white
}

.banner-name{
    font-size: 3.5rem;
    padding: 4.5em 0 0 3em;
    font-weight: bold;
}

.banner-designation{
    font-size: 2rem;
    padding: 0 0 0 5.2em;
}

.banner-span{
    color: yellow;
    font-weight: bolder;
}

.abt-section{
    padding: 1em;
}

.heading{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(37, 37, 89);
}

.sub-heading{
    font-size: 1.7rem;
    font-weight: 600;
    color: rgb(37, 37, 89);
}

.heading1{
    padding: 1.5em 0 0 0;
}

.underline{
    width: 4em;
    height: .2em;
    background-color: yellow;
    margin: 1em 0 1.5em 0;
}

.abt-section p, .facts p{
    padding: 0 4em .3em 0;
}

#aboutcontent{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1.5em;
    margin-bottom: 5.5em;
}

.aboutpic{
    width: 30%;

}

.aboutpic img{
    width: 100%;
    animation: expand .8s ease forwards;
}

.about-info{
    width: 68% ;
}

.about-subinfo{
    width: 95%;
}

.about-subinfo1{
    display: flex;
    justify-content: flex-start;
}

.arrow{
    color:rgb(37, 37, 89) ;
    font-size: 1.5rem;
}

.sub-heading{
    padding-bottom: .3em;
}

.sub-headings{
    font-weight: 600;
    padding-right: .5em;

}

.about-subinfo1 p{
    width: 50%;
    padding: .5em 0 0 0;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.additional-about-info{
    margin-top: 1.5em;
    width: 100%;
}

.facts, .skills, .resume, .portfolio, .contact, .services, .testimonials{
    padding: 1em;
}

.facts-items{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 3em auto;
}

.facts-items1{
    display: flex;
    align-items: start;
    gap: 1em;
}

.facts-items1 i{
    font-size: 2.5rem;
    color: rgb(37, 37, 89);
    padding-top: .35em;
}

.numbers{
    align-self: start;
    font-size: .82rem;
}

.numbers h1{
    font-size: 3rem;
    font-weight: 600;
}

.numbers p{
    font-weight: lighter;
    color: rgba(37, 37, 89, 0.601);
}

.facts-items-info{
    font-weight: bold;
    color: rgb(37, 37, 89);
}

.skills, .testimonials{
    width: 100%;
    background-color: rgba(190, 190, 253, 0.238);
    padding-bottom: 5em;
}

.skills h5, .portfolio h5, .resume h5, .services h5, .testimonials h5, .contact h5{
    padding-top: 1.5em;
}

.skills-tabs{
    width: 100%;
    padding-top: 1em;
}

.tab1{
    width: 49%;
}

.skill-tabs-flex{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5em;
}

.tab-words{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: .8rem;
}

.tab-words{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 600;
}

.progress-bar1{
    width: 100%;
    height: .7em;
    background-color:rgb(37, 37, 89) ;
    display: flex;
}

.progress-bar-main, .progress-bar{
    width: 100%;
    height: .7em;
    background-color:rgb(37, 37, 89) ;
    display: flex;
    margin-top: .5em;
}

.css{
    width: 5%;
    background-color: rgb(251, 251, 251) ;
}

.js{
    width: 100%;
    background-color: rgb(251, 251, 251) ;
}

.py{
    width: 120%;
    background-color: rgb(251, 251, 251) ;
}

.resume{
    margin: 0 auto 2em auto;
}

.resume-flex{
    display: flex;
    justify-content: space-between;
}

.resume-col{
    width: 48%;
    margin: 1.5em 0;
}

.icon1{
    display: flex;
    align-items: flex-start;
    gap: .7em;
    border-left: 2px solid rgb(37, 37, 89);
    padding-bottom: 0;
    margin-bottom: 0;
}

.fa-circle{
    position: relative;
    left: -.4em;
    bottom: -.3em;
}

.resume-info{
    position: relative;
    top: -1.3em;
    padding-left: 1.2em;
}

.sub-p{
    font-size: .9rem;
}

.resume-info ul{
    padding-left: 1.5em; 
}

.exp-list{
    margin-top: .6em;
}

.resume-info ul li{
    padding-top: .6em ;
}

.fa-solid-services{
    margin-top: .2em;
}

.resume-subheading1{
    font-size: 1.5rem;
    margin: .5em auto;
}

.resume-subheading2{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1rem;
    padding-bottom: .5em;
}

.edu-term{
    background-color: rgba(190, 190, 253, 0.238);
    max-width: 100px;
    padding: .3em;
    font-size: .9rem;
    text-align: center;
    font-weight: bold;
}

.institute{
    padding: .7em 0 1em 0;
}

.portfolio{
    width: 100%;
    background-color: rgba(190, 190, 253, 0.238);
}

.headingp{
    width: 95%;
}

.portfolio-categories{
    display: flex;
    justify-content: center;
    margin: 1em auto;
    width: 17em;
    background-color: white;
    padding: .5em .5em;
    border-radius: 20px;
}

.portfolio-categories ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.portfolio-categories li:hover{
    color: rgb(130, 130, 255);
    cursor: pointer;
}

.portfolio-categories li:active{
    color: rgb(130, 130, 255);
    cursor: pointer;
}

/* .portfolio-images{
    width: 90%;
} */

.portfolio-images{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 4em;
}

.portfolio-images img{
    max-width: 500px;
    padding: 1em 1em .5em 0;
}

.services-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin: 2em auto;
    gap: 2em;
}

.services-list-individual{
    display: flex;
    align-items: flex-start;
    max-width: 350px;
    gap: 1em;
}

.fa-solid-services{
    color: white;
    font-size: 1.7rem;
    background-color: rgb(37, 37, 89);
    padding: .5em;
    border-radius: 50%;
}

.services-list h6{
    font-size: 1.1rem;
    padding-bottom: .7em;
}

.services-list p{
    font-size: .85rem;
    line-height: 1.5em;
}

.contact-rows{
    display: flex;
    justify-content: space-between;
}

.contact-col{
    padding: 1.8em;
    margin: 2em 0 5em 0;
    box-shadow: rgba(50, 52, 54, 0.134) 0px 8px 30px;
}

.contact-col1{
    width: 40%;
}

.map{
    display: flex;
    justify-content: center;
}

.map iframe{
    max-height: 18.5em;
    margin-top: 1em;
}

.contact-icon{
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 1em 0;
}

.contact-icon i{
    font-size: 1.1em;
    width: 2.5em;
    text-align: center;
    background-color: rgb(37, 37, 89) ;
    color: white;
    padding: .8em;
    border-radius: 50%;
}

.contact-info h4{
    font-size: 1.3rem;
    font-weight: 510;
}

.contact-info p{
    font-size: .9rem;
    color: rgba(37, 37, 89, 0.753);
    padding-top: .1em;
}

.contact-col2{
    width: 58%;
}

form{
    padding: 1em 0;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-inputs{
    display: flex;
    flex-direction: column;
    width:48%;
    
}

.subject{
    width: 100%;
}

label{
    padding: .4em 0 .8em 0;
    color:rgba(34, 34, 69, 0.816);
}

input{
    max-width: 28em;
    padding: .58em;
}

textarea{
    padding: .55em;
}

.subject-input{
    max-width: 100%;
}

.contact-btn{
    display: flex;
    justify-content: center;
    margin-top: .5em;
}

button{
    font-size: 1.02rem;
    border: none;
    background-color: rgb(37, 37, 89);
    color: white;
    padding: 0.7em 1.2em;
    border-radius: 5px;
}

button:hover{
    background-color: white;
    border: 2px solid rgb(37, 37, 89) ;
    color: rgb(37, 37, 89);
}